


#primeira {
    height: 100px;
    width: 100px;
    background-color: rgb(81, 238, 186);
    padding: 50px;
    border: 10px solid black;
    box-sizing:border-box
}

#segunda {
    height: 100px;
    width: 100px;
    background-color: rgb(250, 52, 52);

  
}

body {
    margin: 0px;
    padding: 0px;
}
