.container {
    display: flex;
   
    background-color: rgb(231, 94, 220);
    height: 780px;
    color: white;
}

.r1{
  
    background-color: red;
}

.r2{
    align-self:flex-end;
    background-color: blue;
}

.r3{
    
    background-color: green;
}

.rect {
    width: 250px;
    height: 250px;
}